



header {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1%;
    background-color:green;
    color:black;
    list-style: none;
  }
  
h1 {
justify-content: left;
}

a {
 display: inline-block;
 margin-left: 1px;
 text-decoration: none;
      }
  